.home-page{
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar1 content"
    "sidebar2 content";
    grid-template-rows: 120px 1.5fr 2fr;
    grid-template-columns: 1.8fr 1fr;
    height: 85%;
    column-gap: 10px;
    row-gap: 10px;
    
}

.home-header{
    display: inline-block;
    text-align: left;
    background-color: transparent;
    grid-area: header;
    margin-top: 20px;
    margin-left: 30px;

}

.home-task{
    text-align: left;
    background-color: #fff;
    grid-area: sidebar1;
    border-radius: 20px;
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 5%;
    font-size: 100%;
}

.home-task button{
    margin-top: 2%;
}

.home-welcome{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #fff;
    grid-area: content;
    border-radius: 20px;
    padding: 10%;
    text-align: left;
    font-size: 100%;
    margin-right: 30px;
}


.home-submitted{
    background-color: #fff;
    grid-area: sidebar2;
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 5%;
    border-radius: 20px;
    text-align: left;
    font-size: 100%;
}

.home-submitted table{
    margin: 4%;
    width: 90%;
    font-size: 120%;
}

#drropdown button:hover{
    background-color: aqua;
    
}