.status-page{
    display: grid;
    grid-template-areas: 
    "status"
    "table";
    grid-template-rows: 120px 1fr;
    height: 85%;
    column-gap: 10px;
    row-gap: 10px;
}

.status-status{
    display: inline-block;
    text-align: left;
    background-color: transparent;
    grid-area: status;
    margin-top: 20px;
    margin-left: 30px;
}

.status-table{
    background-color: #fff;
    grid-area: table;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
}