.login {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    background-color: transparent;
    width: 500px;
    height: 490px;
    border: solid 1px #5C6784;
    border-radius: 2%;
    margin-top: 10%;
}

.login img{
    max-height: 5em;
    padding: 1.5em;

}

.input-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  input {
    width: 400px;
    padding: 10px;
    border: 1px solid #BBBBBF;
    border-radius: 5px;
    outline: none;
  }
  
  label {
    position: absolute;
    top: 0;
    left: 10px;
    pointer-events: none;
    padding: 5px;
    padding-top: 8px;
    transition: 0.1s ease-in-out;
    background-color:transparent;
    color: rgb(151, 149, 149);
  }
  
  input:focus ~ label,
  input:valid ~ label {
    top: -18px;
    left: 5px;
    font-size: 12px;
    background-color: #fff;
    color: #94BB31;
  }

  .input-container.filled label {
    top: -18px;
    left: 5px;
    font-size: 12px;
    background-color: #fff;
    color: #94BB31;
  }

  input:focus{
    border: 2px solid #134611;
  }